/* App.css */

div img{
    background-size: cover; /* This property ensures the background image covers the entire container */
    background-repeat: no-repeat; /* This property prevents the background image from repeating */
    background-position: center; /* This property centers the background image within the container */

  }
  
  .navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: right;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .content {
    padding: 20px;
    text-align: center;
  }
  
  .photo {
    width: 100%; /* Set the width of the photo to 100% of its parent element */
    max-width: 800px; /* Set a maximum width for the photo */
    margin-top: 20px; /* Add some spacing between the heading and the photo */
  }
  